@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Poppins', sans-serif;
}
/* ===== Hide scrollbar globally ===== */

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
